#chart-container {
  margin: 0 auto;
  padding-top: 80px;
  width: 70%;
}

#page_title {
  padding-top: 15%;
}

.subtitle {
  padding-top: 60px;
}

#page_title, .title, .subtitle {
  text-align: center;
}

