#page_title {
  padding-top: 15%;
}

.subtitle {
  padding-top: 60px;
}

#page_title, .title, .subtitle {
  text-align: center;
}

/* Larger than phablet */
@media (min-width: 1000px) {
  #chart-container {
    margin: 0 auto;
    padding-top: 60px;
    width: 70%;
  }
}